* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

/*************HEADER***********/

.mobileView {
  display: none;
}

.topnav {
  background-color: #0c2508;
  min-height: 41px;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 7px 14px;
  text-decoration: none;
  font-size: 20px;
}

.topnav .hidden {
  padding: 10px 14px;
}

.active {
  background-color: #0c2508;
  color: white;
  min-height: 41px;
}

.topnav a.active {
  background-color: #0c2508;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav .active,
.topnav .hidden:hover {
  padding: 10px 14px;
}

.topnav a:hover {
  background-color: #63a42a;
  color: white;
  font-weight: 700;
  transition: 2s;
}

@media screen and (max-width: 650px) {
  .topnav .hidden {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: inline;
    padding: 8.5px 14px;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 20px;
  }
  .topnav.responsive {
    float: none;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
  }

  .topnav.responsive {
    display: block;
    width: 100%;
    text-align: left;
  }
}

header img {
  width: 100%;
  background-image: url(./IMAGES/faded\ leaf.png);
  background-color: #0c2508;
  background-size: cover;
  color: #0a090c;
  position: absolute;
}

H1 {
  font-size: 6vw;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 1.9em 0 0 0.4em;
  text-shadow: 0px 3px 3px #0e2c09, 0px 2px 2px rgba(0, 0, 0, 1);
}

h2 {
  font-size: 1.8vw;
  font-weight: 600;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 0 0 2em;
  text-shadow: 1px 1px 1px #0c2508, 0px 1px 1px rgba(0, 0, 0, 1);
}

#titlewords {
  color: white;
}

/*************ABOUT ME**********/

#aboutMe {
  width: 60vw;
  margin-top: 20%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

#aboutMe h3 {
  font-size: 24px;
  margin-left: 20px;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

#aboutMe p {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 5%;
  background-color: whitesmoke;
  color: black;
}

#contactbtn {
  background-color: #0c2508;
  width: 35vw;
  height: 5vh;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#contactbtn a {
  text-decoration: none;
  color: white;
}

#contactbtn:hover {
  background-color: #63a42a;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.3s ease-in-out;
}

#contactbtn p {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

/*************ABOUT ME MOBILE**********/

@media only screen and (max-width: 650px) {
  #aboutMe {
    width: 60vw;
    margin-top: 20%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  #aboutMe {
    margin-left: 10vw;
    margin-right: 5vw;
  }

  #aboutMe p {
    width: 80vw;
  }

  #contactbtn {
    width: 200px;
    margin-top: 50px;
  }
}

/*************SECTIONS DESKTOP**********/

.projects {
  width: 100%;
  background-color: white;
  border-radius: 10px 10px 0 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

main section {
  background-color: #0a090c;
  border: solid 1px #0a090c;
  padding: 0px;
  border-radius: 10px;
  width: 20vw;
  max-width: 250px;
}

main a {
  margin: 20px;
  text-decoration: none;
  background-color: #0a090c;
  border-radius: 10px;
}

main a:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

section p {
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #0a090c;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  color: white;
}

section h4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
  color: white;
}

/*************SECTIONS TABLET**********/
@media only screen and (max-width: 1050px) {
  main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin: 0 0 0 5vw;
  }

  main section {
    width: 40vw;
  }
}

/*************HEADER/SECTIONS MOBILE**********/

@media only screen and (max-width: 650px) {
  main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: whitesmoke;
    margin: 0;
  }
  main a {
    width: 90vw;
  }
  main section {
    width: 90vw;
    max-width: none;
  }

  .desktopView {
    display: none;
  }

  h1 {
    font-size: 5.6vw;
    padding: 2.2em 0 0 0.4em;
  }

  .mobileView {
    display: flex;
    font-size: 2.7vw;
    padding: 0 0 0 1em;
    margin: 0 0 4em 0;
  }
}

/*************CONTACT FORM**********/

.container {
  width: 400px;
  background-color: rgba(243, 243, 243, 0.7);
  border-radius: 6px;
  margin: 30px 0px 30px 30px;
}

#contactForm {
  padding: 25px;
}

.container h3 {
  margin-top: 0px;
  padding: 0 0 20px 0;
  font-size: 28px;
}

input[type="submit"] {
  background-color: #63a42a;
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 350px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #16440e;
  transition: 0.5s ease-in-out;
}

input[type="text"],
input[type="email"],
input[type="submit"],
textarea {
  width: 100%;
  padding: 10px 16px;
  margin: 8px 0px;
  border-radius: 5px;
  border: 0px;
  resize: none;
}

/**************CERT PAGE***************/

#certInfo{
  margin: 20% 0 2% 0;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  padding: 20px;
}

.certImg {
  max-width: 1050px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.certImg img {
  width: 10vw;
  min-width: 250px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin: 40px 25px;
}

.cert {
  z-index: 0;
  transform: scale(1);
  transition: transform 0.5s;
}

.cert:hover {
  z-index: 2;
  transform: scale(2.1);
  margin: 0 auto; 
  transition: transform 0.9s ease-in-out;
  transform-origin: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


#certTitle {
  font-size: 3rem;
  margin: 5% 0 2% 0;
  padding: 0;
  color: #0c2508;
}


@media only screen and (max-width: 1170px) {
  .cert:hover {
    transform-origin: center;
  }

}

@media only screen and (max-width: 650px) {
  .certImg img {
    width: 90vw;
    min-width: 280px;
    margin: 30px 20px;
    transform: none !important;
    box-shadow: none;
  }

  .certImg img:hover {
    box-shadow: none;
  }

  #certTitle {
    padding: 30px;
    font-size: 2rem;
  }
}

/*************BUTTONS/FOOTER DESKTOP AND TABLET**********/

footer {
  background-image: url(./IMAGES/faded\ leaf.png);
  display: flex;
  justify-content: center;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerbtn {
  background-color: #63a42a;
  padding: 10px 25px;
  margin: 30px 20px 20px 20px;
  border-radius: 15px;
  color: azure;
  font-size: 2rem;

  height: 55px;
  display: flex;
  flex-direction: column;

  text-align: center;
  width: 80px;
  text-decoration: none;
}

.footerbtn:hover {
  background-color: #16440e;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.footerbtn:visited {
  background-color: #16440e;
}

/***************FOOTER/CONTACT FORM PHONE ONLY*********************/
@media only screen and (max-width: 415px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  .container {
    margin: 0;
    border-radius: 0;
    width: 100vw;
  }

  #buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
